
.desktop-only {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}


.mobile-home-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
 color: rgb(20 3 172);
  text-decoration: none;
  font-size: 1.25rem;

  @media (min-width: 1024px) {
    display: none;
  }

  i {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}